<div class="container">
        
            <p> Select a quiz to get started:</p>

    <div class = "row">

        <div class = "col">
            <img  src="/images/html.png" alt="..." class="img-thumbnail float-right">
            <img  src="/javascript_logo.png" alt="..." class="img-thumbnail float-right">
        </div>

        <div class = "col">
                <img  src="/images/css.png" alt="..." class="img-thumbnail float-left">
            <img  src="/images/ruby.png" alt="..." class="img-thumbnail float-left">
        </div>

    </div>



    </div>