// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  height: 100%;
  width: 100%;
}
div#bluebackground {
  // background-image: url('dev-quiz-copy.png');
  margin: 0;
  padding: 30px;
}
main {
  background-color: #F5FCFD;
  width: 70%;
  min-height: 600px;
  align-self: center;
  padding: 20px;
  margin-top: 20px;
}
.profileimg {
  width: 70%;
  float: left;
}
.userinfo {
  float: right;
  text-align: left;
  padding: 20px;
  margin: 10px;
  background-color: rgb(199, 200, 202);
  font-size: 1.2em;
  border-radius: 5px;
  box-shadow: darkslategray 5px 5px 5px;  
  font-family: 'Exo', sans-serif;
}
.quizofday {
  float: right;
  background-color: #1231B0;
  color: white;
  width: 80%;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5em;
  box-shadow: darkslategray 2px 2px 2px;
  margin: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.quizofday:hover {
  background-color: #f7a523;  
  color: black;
  box-shadow: darkslategray 5px 5px 5px;
}
.completequizzes {
  font-size: 2em;
  text-align: center;
  padding: 20px;
  margin: 20px;
  background-color: rgb(49, 131, 207);
  color: #f7a523;
  border-radius: 5px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
h1 {
  font-variant-caps: all-small-caps;
  font-family: 'Yanone Kaffeesatz', sans-serif; 
  text-align: center;
  font-size: 5em;
  color: white;
}
.badgesimg {
  width: 150px;
  height: 150px;
  align-self: center;
  box-shadow: black 6px 6px 6px;
}
.badgesimg:hover {
  box-shadow: #f7a523 3px 3px 3px;
  transform: rotateZ(3deg);
}

.hero{
  // background-image: url("computer.jpg");
  height: 80vh;
  background-size: cover;
  padding-top: 5vh;
  margin-top: 10vh;
}