// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: white;
  height: 100%;
  width: 100%;
}
li {
  list-style: none;
}
.clock {
  float: right;
}
footer {
  background-color: #1231B0;
  color: #f7a523;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 0px;
  padding: 40px;
  font-size: 1.5em;
  float: right;
  margin-top: 100px;
  margin-bottom: 0px;
  height: 250px;
}
.logofooter {
  width: 200px;
  float: left;
}