
h1 {
  font-variant-caps: all-small-caps;
  font-family: 'Yanone Kaffeesatz', sans-serif; 
  text-align: center;
  font-size: 5em;
  color: white;
}
.img-thumbnail {
  width: 250px;
  width: 250px;
}
