// Place all the styles related to the QuizQuestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


}
.mainquestion {
  margin: 20px;
  padding: 20px;
  display: none;
}



.mainquestion{
  list-style: none;


}
 
