//Nav styling narb bottom of doc
.hero{
  // background-image: url("computer.jpg");
  height: 80vh;
  background-size: cover;
  margin-top: 1vh;
  margin-bottom: 10vh;
}
div#bluebackground {
  background-image: url('dev-quiz-copy.png');
  margin-bottom: 30px;
  padding: 30px;
  color: white;
}
#lightbluebackground {
  animation: fadeInBackground 2s forwards ease-in;
  padding: 20px;
}
.col-md-4 {
  padding: 30px;
  margin-left: 65px !important;
}
.arrow {
  height: 90px;
  animation: arrowGo 2s ease infinite;
}
@keyframes arrowGo {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(25px, 0);
  }
  
  100% {
    transform: translate(-5px, 0);
  }
}
.devquizhed {
  color: white;
  font-family: 'Iceland', cursive;
  font-size: 2em;
  animation: slideIn 1s ease-in;
}
h2 {
  color: white;
  font-family: 'Iceland', cursive;
  font-size: 3.2em;
  animation: slideIn .5s ease-in;
  margin-top: 0;
  text-shadow: black 3px 3px 3px;
}
@keyframes slideIn {
  from { 
    top: 30%;
    margin-left: 100%;
    width: 300%
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.h2sansanimation {
  color: white;
  font-family: 'Iceland', cursive;
  font-size: 2.5em;
  text-shadow: black 3px 3px 3px;
}
.begadv {
  list-style-type: none;
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
  border-color: #33aab9;
  border-width: 1px;
  color: white;
  text-decoration: none;
}
.col-md {
  float: none !important;
  margin: 0 auto !important;
}
p.hoverbright:hover {
  border: #33aab9 1px;
  color: #33aab9;
  text-decoration: none;
}
h3 {
  color: white;
  font-family: 'Iceland', cursive;
  font-size: 1.4em;
  animation: fadeIn 5s ease-in;
}
.h3larger {
  color: white;
  font-family: 'Iceland', cursive;
  font-size: 2.0em;
  animation: fadeIn 1s ease-in;
}
@keyframes fadeIn {
  from { opacity: 0;}
  to { 
    opacity: 1; 
    color: #33aab9;
  }
}
@keyframes fadeInBackground {
  from { opacity: 0;}
  to { 
    opacity: 1; 
    background-color: #33aab9;
    border-radius: 20px;
  }
}
h4 {
  color: white;
  font-family: 'Iceland', cursive;
  font-size: 1.5em;
  animation: fadeIn 2s ease-in;
  text-shadow: black 3px 3px 3px;
}
.btn, .btn-primary {
  background-color: rgb(27, 31, 92);
} 
footer {
  color: #2993bd;
  // text-shadow: black 1px 1px 1px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-color: white;
  padding: 20px;
  font-size: 1.6em;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 10px;
  width: 100%;
  line-height: 20px;
  height: 30px !important;
}
.logofooter {
  height: 200px;
  padding: 0px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  float: left;
}
.img-thumbnail {
  width: 350px;
  height: 350px;
  position: center;
  text-align: center;
  padding: 0px;
  margin: 0 auto;
  box-shadow: black 4px 4px 4px;
}
.cards-rows {
  width: 100% !important;
  margin: 0px auto;
  padding: 0px !important;
}
.col {
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
}
.questionstyle {
  color: white;
  font-family: 'Iceland', cursive;
  font-size: 1.9em;
}
.answerstyle {
  color: #48eaff;
  font-size: 1.5em;
}
.gradestyle {
  color: white;
  font-family: 'Iceland', cursive;
  font-size: 2.5em;
  border-style:solid;
  border-color:white;
}
.incorrect{
  color:red;
}
.correct{
  color:lightgreen;
}
//
//EVERYTHING NAV below
nav {
  background-color: #32A9B8;
  height: 70px;
  box-shadow: black 5px 5px 5px;
  padding: 20px;

}
.navfont { 
  color: white;
  font-family: 'Iceland', cursive;
  font-size: 1.5em;
  animation: fadeIn 2s ease-in;
  text-shadow: black 3px 3px 3px;
}
.nav {
  // background-color: #F5FCFD;
  // color: #1231B0;
  height: 50px;
  box-shadow: black 5px 5px 5px;
  font-family: 'Sunflower', sans-serif;
  font-size: 1.3em;
  font-kerning: auto;
}
.nav-pills {
  background-color: transparentize(rgb(9, 8, 65), 0.0);
}
.nav-link, .nav-item {
  color: white;
  list-style: none;
  margin-left: 45px;
  padding: 5px;
  line-height: 0.8em;
}
.nav-link:hover {
  color: white !important;
  text-shadow: black 1px 1px 1px;
}
.navlogo {
  width: 40px;
  margin-top: 10px;
}
.navleft {
  list-style-type: none;
  display: inline-block;
}
// nav bar animations from bootstrap
.animated-icon1, .animated-icon2, .animated-icon3, .animated-icon4 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
.animated-icon1 span, .animated-icon3 span, .animated-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon1 span {
    background: #e65100;
}

.animated-icon3 span {
    background: #e3f2fd;
}

.animated-icon4 span {
    background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon3 span:nth-child(1) {
  top: 0px;
}

.animated-icon3 span:nth-child(2), .animated-icon3 span:nth-child(3) {
  top: 10px;
}

.animated-icon3 span:nth-child(4) {
  top: 20px;
}

.animated-icon3.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon3.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

.animated-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon4 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon4 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}     

.gradestyle { 
  text-align: center;
}