


.hero{
  background-image: url("/images/computer.jpg");
  height: 80vh;
  background-size: cover;
  padding-top: 5vh;
  margin-top: 10vh;
}

body {
  
  background-color: black !important;
  background-image: url("/images/computer.jpg") !important;
  height: 80vh;
  background-size: cover;
  padding-top: 5vh;
  margin-top: 10vh;
}